{% extends 'basic.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-6 border-right">
			<h1 class="subheading">Log In</h1>
		</div>
		<div class="col-6 form">
			<form method="POST" action="/signup_student">
				{% csrf_token %}
				<h5 class="row">Email</h5>
				<div class="row">

					<input type="email" name="email" class="input">
				</div>

				<h5 class="row">Password</h5>
				<div class="row">

					<input type="password" name="password" class="input">
				</div>

				<h5 class="row">Confirm Password</h5>
				<div class="row">
					<input type="password" name="confpassword" class="input">
				</div>
				<br>

				<div class="row">
					<input type="submit" class="btn formbtn" value="Signup">
				</div>

			</form>
		</div>
	</div>
	{% endblock body %}

	{% block script %}
	<script>
		const inputs = document.querySelectorAll(".input");


		function addcl() {
			let parent = this.parentNode.parentNode;
			parent.classList.add("focus");
		}

		function remcl() {
			let parent = this.parentNode.parentNode;
			if (this.value == "") {
				parent.classList.remove("focus");
			}
		}


		inputs.forEach(input => {
			input.addEventListener("focus", addcl);
			input.addEventListener("blur", remcl);
		});
	</script>
	{% endblock script %}
