{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
  <div class="card mb-3 mt-3">
    <div class="card-body" style="background-color:#fff">
      <h1 class="title">{{student.student_batch}}</h1>
      <table class="table table-borderless">
        <thead>
          <tr class="tablehead">
            <td scope="col">S.No.</td>
            <td scope="col">Course</td>
            <td scope="col">Status</td>
          </tr>
        </thead>
        <tbody>
          {% for course in courses%}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>

            <td>{{ course.course.name }}</td>
            <td> <a href="{% url 'unit_student' bid=course.id %}" class="btn">View</a></th>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock body %}
