{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">


  <div class="row">
    <div class="col-6 border-right">
      <h1 class="subheading">Add teacher to Courses</h1>
    </div>
    <div class="col-6 form">


      <form method="POST">
        {% csrf_token  %}


        <div class="row">
          {{ form.teacher_details |as_crispy_field }}
        </div>


        <div class="row">
          {{ form.batchcourse |as_crispy_field }}
        </div>

        <div class="row">
          <button type="submit" class="titlebutton formbtn btn btn-md">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock body %}
