{% extends 'principal/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}

hello this is hod header

<li><a href="{%url 'add_course'%}">ADD A COURSE</a></li>

<li><a href="{%url 'view_courses'%}">view courses</a></li>

<li><a href="{%url 'coursebatchdetails'%}">course batch details</a></li>


{% endblock body %}

{% block script %}
<script>

	const inputs = document.querySelectorAll(".input");


	function addcl() {
		let parent = this.parentNode.parentNode;
		parent.classList.add("focus");
	}

	function remcl() {
		let parent = this.parentNode.parentNode;
		if (this.value == "") {
			parent.classList.remove("focus");
		}
	}


	inputs.forEach(input => {
		input.addEventListener("focus", addcl);
		input.addEventListener("blur", remcl);
	});
</script>
{% endblock script %}