@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body {
  background-color: #7d0633 !important;
  margin-bottom: 20px;
}

p {
  color: #7d0633;
  margin-bottom: 25px;
}

h5 {
  color: #fbdcc4;
}

h2 {
  color: #7d0633;
}

.spacer {
  flex: 1;
}

.container {
  background-color: #7d0633 !important;
  color: #fbdcc4 !important;
}
.tablehead{
  background-color: #7d0633 !important;
  color: #fbdcc4 !important;
  font-weight: bold;
}

#navigationbar {
  background-color: #7d0633;
  color: #fbdcc4;
  /* color: #40514e */
}

.navbar-brand {
  color: #fbdcc4;
}

.nav-link {
  color: #fbdcc4;
}

.nav-link:hover {
  opacity: 0.5;
}

#title {
  background-color: #7d0633;
  color: #fbdcc4;
  padding: 15rem;
  align-items: center;
}

.heading {
  font-size: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.titlepara {
  text-align: center;
  font-size: 1.5rem;
}

.titlebutton {
  align-items: center;
  background-color: #7d0633;
  color: #fbdcc4;
  opacity: 1;
  margin-top: 5%;

}
.btn {
  background-color: #7d0633;
  color: #fbdcc4;
}

.formbtn {
  margin-top:1%;
  background-color: #fbdcc4;
  color: #7d0633;
}
.titlebutton:hover {
  align-items: center;
  opacity: 0.6;
}

.wrapper {
  text-align: center;
}
.row {
  background-color: #7d0633;
  color: #fbdcc4;
}
#features {
  padding-top: 20px;
  background-color: #7d0633;
  color: #fbdcc4;
}

.featurette-heading, .lead {
  color: #fbdcc4;
}

.feature-box {
  text-align: center;
  padding: 5%
}

#about-us {
  background-color: #fbdcc4;
  text-align: center;
  color: #7d0633;
  padding-top: 10px;
}

.carousel-item {
  padding: 3% 15%;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #fbdcc4;
  color: #7d0633;
  text-align: center;
  height: 20px;
  padding: 3% 15% 3%;
}

.sidetitle {
  background-color: #fbdcc4;
  color: #7d0633;
  align-items: center;
}

.subheading {

  color: #fbdcc4;
  font-size: 3.5rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-right: 3rem;
}

.button {
  background-color: #7d0633;
  color: #fbdcc4;
}

.cd {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #7d0633;
  color: #fbdcc4;
  width: 10rem;
}
.card{
  background-color: #fbdcc4 !important;
  color: #7d0633;
}
.card-body {
  background-color: #7d0633;
}
.bg-light {
  background-color: #7d0633;
}

.list-group-item {
  margin-bottom: 1rem;
  background-color: #7d0633;
  color: #fbdcc4;
}

.alert {
  background-color: #7d0633;
  font-size: 1rem;
}

.dashboardbutton {
  align-items: center;
  background-color: #7d0633;
  color: #fbdcc4;
  opacity: 1;
  margin-right: 5px;
}

.dashboardbutton:hover {
  opacity: 0.5;
}

.card-text {
  color: #000;
  margin-bottom: 3px;
}

.center-card {
  background-color: #7d0633;
  color: #fbdcc4;
  /* text-align: center; */
}

.templatebutton {
  background-color: #fbdcc4;
  color: #7d0633;
}

.blockquote{
  background-color: #fbdcc4;
}

.form {

  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-right: 3rem;
}

.row {
  padding-left: 3rem;
}
