{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/basic.css' %}">
  <!-- Bootstrap CSS extension -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body >
  <!-- Navigation Bar -->
  <nav class="container navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Edu-Eye</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {%if user.is_principal %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'profile_teacher'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'view_courses'%}">Course Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'coursebatchdetails' %}">Batch Details</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'add_course'%}">Add course/unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Log out</a>
        </li>
        {% elif user.is_teacher%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'profile_teacher'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'dashboard_teacher'%}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Log out</a>
        </li>
        {% elif user.is_student %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'profile_student'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'StudentDash'%}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'signup_student'%}">StudentSignup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'signup_teacher'%}">TeacherSignup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login'%}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {%block body%}
  {% endblock body %}
  {%block script%}
  {% endblock script %}
  {%for message in messages%}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
   <strong>message:</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div> 
 {% endfor %}
  <script>
      const menuBtn = document.querySelector(".menu-icon span");
      const searchBtn = document.querySelector(".search-icon");
      const cancelBtn = document.querySelector(".cancel-icon");
      const items = document.querySelector(".nav-items");
      const form = document.querySelector("form");
      menuBtn.onclick = ()=>{
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      }
      cancelBtn.onclick = ()=>{
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#ff3d00";
      }
      searchBtn.onclick = ()=>{
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      }
    </script>


      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
  </html>
